
.card{
    position: relative;
}
.images {
    position: absolute;
    top: -16px;
    left: 18px;
}
.bappy{
    width: 550px;
  
}
.form {
    background-color: #ffff;
    box-shadow: 2px 3px 8px 7px rgb(216, 216, 247);
    
}